
@media (min-width: 600px){

  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .features {
      margin-top:100px
  }
  
  
  .footer {
    margin-left:50px;
    margin-right:50px
  }
  
  .navBar{
    background-color: white;
    z-index: 9;
    width: 100%;
    align-items: center;
    position: fixed;
    box-shadow: 5px 2px rgb(176, 173, 173);
    background-attachment: fixed;
  }
  
  .ideation{
    padding-top: 150px;
  }
}


@media (max-width: 600px) {
  
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.features {
    margin-top:50px
}


.footer {
  margin-left:20px;
  margin-right:20px
}

.navBar{
  background-color: white;
  z-index: 9;
  width: 100%;
  align-items: center;
  position: fixed;
  box-shadow: 5px 2px rgb(176, 173, 173);
  background-attachment: fixed;
}

.ideation{
  padding-top: 50px;
}
}