
@media(min-width:600px) {
    .dividerMessage{
        text-align: center;
        color:  rgb(76, 66,62);
        font-size: 70px;
    }
    .divider{
        margin: 10px;
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 50px;
        flex: 20px;
        height: 10px;
        background-color: rgb(224, 230,234);
        border-radius: 5px;
        box-shadow: 5px 5px rgb(222, 222, 221);
        
    }
    
    
}

@media (max-width:600px) {
    .dividerMessage{
        text-align: center;
        color:  rgb(76, 66,62);
        font-size: 15pt;
    } 
    .divider{
        margin-top: 10px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 40px;
        flex: 20px;
        height: 10px;
        background-color: rgb(224, 230,234);
        border-radius: 5px;
        box-shadow: 5px 5px rgb(222, 222, 221);
        
    }
       
}


